<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/icon.png" />
    <title><%- title %></title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>

  <body>
    <div class="app">
      <%- include('navbar') %>
      <hr />
      <div class="content-box">
        <h1 class="text-4xl mt-4 font-bold">Welcome to sports scheduler!</h1>
        <p class="text-3xl my-2 text-blue-500">
          <a href="/sports">Create a New Sport</a>
        </p>
        <hr />
        <p class="text-2xl my-2">The following sports are available</p>
        <div class="sports-list">
          <% for(i=0; i < sports.length; i++) { %>
          <div class="flex">
            <p>
              <a href="/sports/<%= sports[i].id %>"><%- sports[i].name %></a>
            </p>
            <p><%#- sports[i].numberOfPlayers %></p>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
