<link href="/css/style.css" rel="stylesheet" />

<header class="navbar items-center">
  <a href="/"><img class="nav-logo" src="/img/logo123.png" /></a>

  <div class="flex items-center justify-center">
    <p>This is right end!</p>
    <a
      href="/login"
      class="flex items-center justify-center h-12 px-4 text-sm text-center text-gray-600 transition-colors duration-300 transform border rounded-lg xl:h-10 dark:text-gray-300 dark:border-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none"
    >
      Login
    </a>
  </div>
</header>
